@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,600&family=Hind+Siliguri:wght@600&family=Montserrat:wght@100;200;300&family=Noto+Sans&family=Orbitron:wght@400;500;600;700&family=Poppins:weight@100;200;300;400;500;600;700;800;900&family=Wix+Madefor+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Wix Madefor Display', sans-serif;
transition: all ease-in-out .5s;

}

body {
    overflow-x: hidden;
}

.mian-container {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 40px;
    background-color: rgba(245, 244, 244, 0.732);
    display: flex;
    align-items: center;  
}

.img-1 {
    width: 45px;
    margin-left: 60px;
}

.img-2 {
    width: 80px;
    margin-left: 25px;
}

.img-3 {
    width: 60px;
    margin-left: 25px;
}

 /* nav-bar */


 nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .first-list {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 35px;
 }

 .first-list img {
    width: 50px;
 }

 .first-list li {
    list-style: none;
    font-size: 19px;
    color: gray;
    font-weight: 400;
 }

 .second-list {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 50px;
 }

 .second-list li {
    list-style: none;
 }

 .input {
    width: 460px;
    height: 45px;
    display: flex;
}

.input input {
    width: 400px;
    height: 45px;
    border: 1px solid rgba(202, 193, 193, 0.599);
    border-right: none;
    padding-left: 15px;
    font-size: 16px;
}

.input button {
    width: 60px;
    height: 45px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid rgba(202, 193, 193, 0.599);
    border-left: none;
    color: #666666;
}

.second-list li i {
    font-size: 23px;
}

.second-list li button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 400;
}

.second-list li button:hover {
    background-color: gray;
}

.third-list {
    display: none;
}

.third-list li {
    list-style: none;
    font-size: 20px;
}

/* hero-section */

.hero-section {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.img-part {
    width: 65%;
}

.img-part img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.text-part {
    width: 35%;
    height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.heading {
    width: 100%;
    height: 250px;
    font-size: 65px;
    background-color: rgba(0, 170, 255, 0.695);
    padding: 20px;
    font-weight: 400;
}

.text-section {
    width: 100%;
    height: 350px;
    padding: 20px;
    background-color: rgb(136, 227, 243);
    display: flex;
    flex-direction: column;
}

.text-section p {
    font-size: 30px;
    margin-bottom: 30px;
}

.text-section hr {
    border-top: 1px solid black;
}

.text-section ul {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.text-section span {
    margin-top: 30px;
}

.btn-1 {
    border: none;
    background-color: black;
    color: rgb(229, 225, 225);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}

.btn-2 {
    border: none;
    background-color: black;
    color: rgb(229, 225, 225);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
}

.btn-3 {
    height: 40px;
    width: 200px;
    border: none;
    background-color: black;
    color: rgb(229, 225, 225);
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.hero-section button:hover {
    background-color: gray;
}

/* hey-there */

.hey-there {
    width: 100%;
    height: 600px;
}

#heading-1 {
    font-size: 50px;
    padding-left: 50px;
    margin-top: 70px;
}

.hey-there hr {
    width: 100%;
    border-top: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}

#heading-2 {
    font-size: 30px;
    padding-left: 50px;
}

.box-container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
}

.printer {
    width: 400px;
    height: 450px;
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.img {
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 380px;
}

.img-data {
    width: 100%;
    height: 70px;
    background-color: #212237;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.img img:hover {
   transition: all ease-in-out 1s;
   transform: scale(125%);
}

.container {
    width: 100%;
    height: 550px;
    display: flex;
    padding: 50px;
}

.img-part-2 {
    width: 60%;
    height: 250px;
}

.img-part-2 img {
    width: 100%;
}

.text-part-2 {
    width: 40%;
    padding-left: 30px;
    padding-right: 20px;
}

#heading-3 {
    font-size: 48px;
}

.text-part-2 p {
    font-size: 21px;
    margin-bottom: 20px;
}

.text-part-2 button{
    border: none;
    background-color: black;
    color: rgb(229, 225, 225);
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
}

.text-part-2 button:hover {
    background-color: grey;
}

/* footer */

.footer {
    width: 100%;
    height: 120px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.text h4 {
    font-size: 25px;
}

.button button {
    padding: 11px 32px;
    font-size: 18px;
    border: none;
    color: black;
}

.button button:hover {
    background-color: grey;
}

/* last-footer */

.last-footer {
    width: 100%;
    height: 450px;
    background-color: #000000;
    color: white;
}

.country {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    font-size: 15px;
}

.country img {
    width: 15px;
}

.country p:hover {
    border-bottom: 1px solid white;
}

.last-footer hr {
    width: 90%;
    margin-left: 60px;  
}

.list-data {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.list-1 {
    width: 100%;
    margin-left: 60px;
    margin-bottom: 20px;
}

.list-data li {
    list-style: none;
    font-size: 14px;
    margin-top: 8px;
}

.list-1 h5 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons i {
    font-size: 25px;
}



.li-span:hover {
    border-bottom: 1px solid white;
}

.heading-5:hover {
    border-bottom: 1px solid white;
}

.end p {
    font-size: 14px;
    margin-left: 60px;
    margin-top: 20px;
}


.faq-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.data {
    width: 100%;
    height: 40px;
    background-color: #000000;
    margin-top: 8px;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
}

.data span {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}
.data span i {
    font-size: 15px;
}


@media (max-width:768px) {

    header {
        display: none;
    }

    nav {
        width: 100%;  
        height: 80px;
    }

    .first-list {
        width: 20%;
    }

    .first-list img {
        width: 45px;
    }

    .first-list li {
        display: none;
    }

    .second-list {
        display: none;
    }

    .third-list {
        display: block;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .hero-section {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .img-part {
        width: 100%;
    }

    .img-part img {
        width: 100%;
        height: 250px;
    }

    .text-part {
        width: 100%;
    }

    .heading {
        font-size: 40px;
        height: auto;
    }

    .box-container {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    #heading-1 {
        font-size: 30px;
    }

    #heading-2 {
        font-size: 25px;
    }

    .container {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-left: 40px;
    }

    .img-part-2 {
        width: 100%;
    }

    .img-part-2 img {
        width: 100%;
    }

    .text-part-2 {
        width: 100%;
        padding-left: 0px;
    }

    #heading-3 {
        font-size: 30px;
    }

    .footer {
        width: 100%;
        height: 160px;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 30px;
        padding-right: 0px;
    }

    .text h4 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .list-data {
        display: none;
    }

    .country {
        padding-left: 30px;
    }

    .end p {
        margin-left: 30px;
    }

    .last-footer hr {
        display: none;
    }

    .faq-section {
        display: block;
    }



    

    

    
    





    
}